.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(56, 11, 204);
  text-align: center;

  &__input {
    width: 350px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(56, 11, 204, 0.9);
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &:active {
      border: 2px solid rgba(94, 48, 245, 0.9);
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  width: 250px;
  height: 250px;
  margin: 5px;
  border: 1px solid #ccc;

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 180px;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;

  &-item {
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    &__description {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      align-items: center;
    }

    &__count {
      font-weight: 500;
    }
  }
}
