.search-form {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: rgb(0, 102, 255);
  text-align: center;
  box-shadow: 1px 1px 4px #000;
  z-index: 1;

  &__wrapper {
    display: flex;
    width: 400px;
    align-items: center;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: none;
    background-color: #fff;

    &:focus-within,
    &:hover {
      border-color: grey;
      color: grey;
    }
  }

  &__input {
    padding-left: 5px;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }

  &__btn {
    display: flex;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
}

.form__icon {
  height: 18px;
  width: 18px;
  margin: 3px;
  fill: currentColor;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  width: 250px;
  height: 250px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 3px #000;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 180px;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;

  &-item {
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    &__description {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      align-items: center;
    }

    &__count {
      font-weight: 500;
    }
  }
}

.load-more {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(0, 102, 255);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.is-hidden {
  display: none;
}
